@using CCPDemo.Web.Areas.App.Models.Common.Modals
@model RiskModalViewModel

@{
    var disabledBtn = Model.isSaveButtonEnabled ? "" : "disabled";
}

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-bs-dismiss="modal">@L("Cancel")</button>
    <button type="button" class="btn btn-primary save-button" @disabledBtn><i class="fa fa-save"></i> <span>@L("Save")</span></button>
</div>