
@using CCPDemo.Web.Areas.App.Models.Common.Modals
@using CCPDemo.Web.Areas.App.Models.CloseReasons
@model CloseReasonViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="CloseReasonInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("value") :</h6>
                @Model.CloseReason.value
            </div>
            <div class="col-6 mb-3">
                <h6>@L("name") :</h6>
                @Model.CloseReason.name
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")